@font-face {
  font-family: "iconfont"; /* Project id 3426007 */
  src: url('../fonts/iconfont.woff2?t=1653393174039') format('woff2'),
       url('../fonts/iconfont.woff?t=1653393174039') format('woff'),
       url('../fonts/iconfont.ttf?t=1653393174039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-03anquan:before {
  content: "\edb9";
}

.icon-a-04dingwei:before {
  content: "\edba";
}

.icon-a-05shouji:before {
  content: "\edbb";
}

.icon-a-06mima:before {
  content: "\edbc";
}

.icon-a-08kefu:before {
  content: "\edbd";
}

